#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
    quick-tap-ms = <200>;
};

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <150>;
    quick-tap-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        less_then {
            bindings = <&kp LESS_THAN>;
            key-positions = <43 44 26 27>;
            timeout-ms = <60>;
            layers = <0 1 4 5>;
        };

        greater_then {
            bindings = <&kp GREATER_THAN>;
            key-positions = <44 45 27 28>;
            timeout-ms = <60>;
            layers = <0 1 4 5>;
        };

        mac_undo {
            bindings = <&kp LG(Z)>;
            key-positions = <37 38 20 21>;
            timeout-ms = <60>;
            layers = <0>;
        };

        mac_cut {
            bindings = <&kp LG(X)>;
            key-positions = <40 38 21 23>;
            timeout-ms = <60>;
            layers = <0>;
        };

        mac_copy {
            bindings = <&kp LG(C)>;
            key-positions = <38 39 21 22>;
            timeout-ms = <60>;
            layers = <0>;
        };

        mac_paste {
            bindings = <&kp LG(V)>;
            key-positions = <40 39 22 23>;
            timeout-ms = <60>;
            layers = <0>;
        };
    };

    macros {
        my_email: my_email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp L &kp A &kp C &kp K &kp E &kp A &kp G &kp L &kp E &kp N1 &kp N0 &kp AT &kp I &kp C &kp L &kp O &kp U &kp D &kp DOT &kp C &kp O &kp M>;
            label = "MY_EMAIL";
        };
    };

    behaviors {
        hrm_l: hrm_l {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <18 23 28 33 34 35 29 30 31 32 24 25 26 27 22 21 20 19 7 8 6 17 16>;
            quick-tap-ms = <200>;
        };

        hrm_r: hrm_r {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <33 34 24 25 26 27 6 7 8>;
            quick-tap-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layger_0 {
            bindings = <
&kp Q  &kp W           &kp E          &kp R          &kp T                                           &kp Y      &kp U          &kp I          &kp O           &kp P
&kp A  &hrm_l LCTRL S  &hrm_l LALT D  &hrm_l LGUI F  &kp G                                           &kp H      &hrm_r LGUI J  &hrm_r LALT K  &hrm_r LCTRL L  &hrm_r LSHIFT SEMICOLON
&kp Z  &kp X           &kp C          &kp V          &kp B                                           &kp N      &kp M          &kp COMMA      &kp DOT         &kp FSLH
                                      &kp TAB        &mt LSHIFT BACKSPACE  &lt 1 ENTER    &lt 2 ESC  &kp SPACE  &kp F16
            >;
        };

        layer_1 {
            bindings = <
&kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT                   &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR
&kp N1    &kp N2    &kp N3    &kp N4    &kp N5                      &kp N6     &kp N7     &kp N8     &kp N9    &kp N0
&none     &kp LBKT  &kp RBKT  &kp LBRC  &kp RBRC                    &kp UNDER  &kp MINUS  &kp PLUS   &trans    &kp EQUAL
                              &trans    &mo 4      &trans    &mo 3  &none      &trans
            >;
        };

        layer_2 {
            bindings = <
&none  &none      &none     &none    &kp INS                    &kp C_MUTE  &kp PG_UP     &kp PG_DN     &kp C_PLAY  &kp DEL
&none  &kp GRAVE  &kp BSLH  &kp SQT  &kp HOME                   &kp LEFT    &kp DOWN      &kp UP        &kp RIGHT   &kp C_BRI_UP
&none  &kp TILDE  &kp PIPE  &kp DQT  &kp END                    &kp C_PREV  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT  &kp C_BRI_DN
                            &trans   &none     &mo 3    &trans  &mo 4       &trans
            >;
        };

        layer_3 {
            bindings = <
&my_email  &tog 0  &none   &none   &bt BT_CLR                    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3  &bt BT_SEL 4
&kp F1     &kp F2  &kp F3  &kp F4  &kp F5                        &kp F6          &kp F7          &kp F8          &kp F9        &kp F10
&kp F11    &none   &none   &none   &none                         &kp LS(LG(N3))  &kp LS(LG(N4))  &kp LS(LG(N5))  &none         &kp F12
                           &none   &none       &trans    &trans  &none           &none
            >;
        };

        layer_4 {
            bindings = <
&none  &none  &none  &none  &bootloader                    &bootloader  &none  &none  &none  &none
&none  &none  &none  &none  &none                          &none        &none  &none  &none  &none
&none  &none  &none  &none  &none                          &none        &none  &none  &none  &none
                     &none  &trans       &trans    &trans  &trans       &none
            >;
        };
    };
};
